hostname
clientid
persistent
option rapid_commit
option domain_name_servers, domain_name, domain_search, host_name
option classless_static_routes
option interface_mtu
require dhcp_server_identifier
slaac private

interface {{ wlan_interface }}
        static ip_address={{ ap_static_ip_address }}/{{ ap_static_ip_cidr }}
        denyinterfaces {{ eth_interface }}
        nohook wpa_supplicant